/* left.css */
.left {
  padding: 4px;
  height: 100%;
  width: 60%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;

  overflow: hidden;
  box-sizing: border-box;
}

.logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  animation: logorotate 8s linear infinite;
  flex-shrink: 0;
  transition: ease 0.2s all;
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
}

.song-artist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: calc(100% - 75px);
  overflow: hidden;
  position: relative;
  padding-right: 1rem;
  background: transparent;
}

.scroll-text {
  white-space: nowrap;
  display: inline-block;
  color: #fff;
  animation: scroll-left 15s linear infinite;
  background: transparent;
  padding-left: 100%;
  box-sizing: content-box;
  margin: 0;
  font-size: 14px;
  font-family: 'Lucida Sans', sans-serif;
}

.scroll-text.artist {
  animation-duration: 20s;
  font-size: 10px;
  font-weight: 300;
  text-transform: lowercase;
  margin-top: 4px;
}

.song-artist::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  pointer-events: none;
  /* background: linear-gradient(to left, rgba(0, 0, 0, 0.8), transparent);
  backdrop-filter: blur(4px); */
}

@keyframes logorotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
