.bottom {
  background-color: transparent;
  width: 100%;
  z-index: 99;
  position: absolute;
  bottom: 10%;
  padding: 6px;
}

.bottom-top {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1vw;
}

.time-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  background-color: transparent;
}

.time-line span {
  background-color: transparent;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  font-size: .9vw;
}

.progress-bar {
  -webkit-appearance: none;
  width: 80%;
  height: 6px;
  background: #444;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* Hide thumb (Chrome, Safari) */
.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

/* Hide thumb (Firefox) */
.progress-bar::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.bottom-down {
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-bottom: -1vw;
  gap: 1.5vw;
  justify-content: center;
}

.icon {
  background-color: transparent;
  color: #fff;
  font-size: 1.5vw;
}

.previous, .play, .next {
  padding: .8vw .8vw;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


